body {
    background-image: url('/Users/siddharthach/Downloads/langchain-quickstart-master/iStock-872962368-chat-bots-883x1000.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
